<nav class="nemu-fiscal">
    <ul class="nemu-fiscal">
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/product">Produtos</a></li>
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/productType">Tipo</a></li>
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/ncm">NCM</a></li>
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/unity">Unidades</a></li>
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/size">Tamanhos</a></li>
        <li class="nemu-fiscal"><a class="menu-fiscal" href="/img">Imagens</a></li>
    </ul>
 </nav>
