
       <nav class="nemu-fiscal">
           <ul class="nemu-fiscal">
               <li class="nemu-fiscal"><a class="menu-fiscal" href="/cfop">CFOP</a></li>
               <li class="nemu-fiscal"><a class="menu-fiscal" href="/csosn">CSOSN</a></li>
               <li class="nemu-fiscal"><a class="menu-fiscal" href="/icm">ICMS</a></li>
               <li class="nemu-fiscal"><a class="menu-fiscal" href="/fiscalOperation">OPERAÇÕES</a></li>
           </ul>
        </nav>
