<nav class="navbar navbar-expand-sm navbar-dark"  style="background-color: #222;">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" href="/index">Início</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/conta/lista">Plano de contas</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/movimento/lista">Movimentações</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/movimento/relatorio">Relatório</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link font-awesome" href="/user/edit/<%=user.id%>"></a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/logout">Sair</a>
        </li>
    </ul>
</nav>
<br>
