*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    border: solid black 0px;
}

body{
    
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-areas: 'header header header'
                         'article main aside'
                         'footer footer footer';
    font-size: 16px;
    font-family: oswald;  
}

header {
    width: 100%;
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #574F4A;    
}

main{
    width: 100%;
    grid-area: main;
}

article { 
    width: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-self: center;
} 

aside {
    width: 100%;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-self: center;
}

footer {
    width: 100%;
    grid-area: footer;
    background-color: #574F4A;
}

form {
    width: 80%;
    margin-top: 25px;
    background-color: none;
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}


div.link-new  a, 
div.link-new  a:link, 
div.link-new  a:hover, 
div.link-new  a:visited, 
div.link-new  a:active{
    text-decoration: none;
    color: #A6BF4B;
}


h1 {
    text-align: center;
    color: indianred;
    margin-top: 25px;
}

h2 {
text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
}
 h3 a {
    font-size: 24px;
    text-decoration: none;
}

.height-25px {
    height: 25px;
}

.flex-container {
    display: flex;
}

.direction-column {
    flex-direction: column;
}
.direction-row {
    flex-direction: row;
}

.base-line {
    align-items: baseline;
}

.button {
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    border: solid #222 1px;
    min-width: 100px;
    text-align: center;
}

.message {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.margin-left-30-por {
    margin-left: 30%;
}

.margin-left-50-por {
    margin-left: 50%;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-left-10-px {
    margin-left: 10px;
}

.margin-left-right-5por{
    margin-left: 5%;
    margin-right: 5%;
}

.margin-40-por {
    margin-left: 40%;
}

.border {
    border: cornflowerblue solid 1px;
}

.width-40-por {
    width: 40%;
}

.descricao {
    width: 50%;
    text-align: left;
}

.tipo {
    width: 30%;
    text-align: left;
}

.del {
    width: 20%;
    text-align: center;
}

.heroi {
    color: rgb(65, 67, 180);
}

a.remove {
    color: lightcoral
}


a.atencao {
        color:#dc143c;
    }


a.reset {
    color: #6ACAD8;
}


.user {
    color: white;
    position: fixed;
    right: 25px;
    top: 25px;
}

.logo {
    color: white;
    position: fixed;
    left: 25px;
    top: 25px;
}