<%- include ('../partials/top'); %>

    <main class="flex-container direction-column">
     
        <h1 class="text-center">Cadastro de Usuário</h1>  
            
        <form action="/user/recoveryPasswd" method="POST">

            <div class="flex-container margin-top-10px">
                <label  class="">e-mail</label>
                <input class="campo-form" type="hidden" name="id" readonly value="<%=user.id%>" required>
                <input class="campo-form" type="text" name="email" readonly value="<%=user.email%>" required>
            </div>


            <div class="flex-container margin-top-10px">
                <label class="">Nova Senha</label>
                <input class="campo-form" type="password" name="novaSenha" placeholder="Nova Sernha.">
            </div>
    

            <div class="flex-container margin-top-10px">
                <label class="">Confirmar Nova Senha</label>
                <input class="campo-form" type="password" name="confirmaSenha" placeholder="Confirmar Nova Senha.">
            </div>

            <div class="flex-container base-line margin-top-10px"> 
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Recuperar Senha">
            </div>
    
        </form>       

    <%- include ('../partials/down'); %>

    </main>